<html><br><br><br>
<head>  <h1>CERTIFICATE APP</h1></head>
<body>
  <form class="form cf">
    <section class="mode cf">
      <h3>Mode:</h3>
      <input type="radio" name="mode" id="individual" value="individual" checked>
      <label class="individual-label four col" for="individual"><br><br>For Individual</label>
      
      <input type="radio" name="mode" id="multiple" value="multiple" >
      <label class="multiple-label four col" for="multiple"><br>For Multiple Records</label>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#individual").click(function(){
          document.location.href = '/owners/new';
        });
        $("#multiple").click(function(){
          document.location.href = '/owners/import_instructions';
        });
      });
    </script>
  </form><br><br>
  </body>
  </html>