<html>
<body><br><br><br><br>
  <form class="form cf" action="/owners">
    <section class="cert_temp cf">
      <h3>Choose Template:</h3>
      <input type="radio" name="cert_temp" id="student" value="student" checked>
      <label class="student-label four col" for="student"><br>Student</label>
      
      <input type="radio" name="cert_temp" id="teacher" value="teacher" >
      <label class="teacher-label four col" for="teacher"><br>Teacher</label>
    </section>
    <input class="submit" id="btnSubmit"type="submit" value="Submit">		
  </form>
  </body>
  </html>