<br><br>
<div class="container">
  <h1>CERTIFICATE APP</h1>
  <form class="form cf" action="/owners/new">
    <section class="cert_temp cf">
      <h3>Choose a template:</h3>
      <input type="radio" name="cert_temp" id="student" value="student">
      <label class="student-label four col" for="student">Students</label>
      
      <input type="radio" name="cert_temp" id="teacher" value="teacher" checked>
      <label class="teacher-label four col" for="teacher">Teachers</label>
    </section>

    <section class="mode cf">
      <h3>Choose a template:</h3>
      <input type="radio" name="mode" id="individual" value="individual">
      <label class="individual-label four col" for="individual">Individual</label>
      
      <input type="radio" name="mode" id="multiple" value="multiple" checked>
      <label class="multiple-label four col" for="multiple">Multiple</label>
    </section>
    
   
    
    <input class="submit" id="btnSubmit"type="submit" value="Submit">		
  </form>
  </div>