// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.lists{
  width: 100%;
  border: 1px solid gray;
  margin: 0px auto;
}
div.lists tr:hover {
  background-color: #effeff;
}
div.lists tr:nth-child(even)  {
  background-color: #f2f9f9;
}
div.lists th, footer{
  padding: 1em;
  color: white;
  background-color: #0cb1d6;
  clear: left;
  text-align: center;
}