// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.lists{
  width: 100%;
  border: 1px solid gray;
  margin: 0px auto;
  font-family: "Trebuchet MS";
}
div.lists tr:hover {
  background-color: #effeff;
}
div.lists tr:nth-child(even)  {
  background-color: #f2f9f9;
}
div.lists th, footer{
  padding: 1em;
  color: white;
  background-color: #0cb1d6;
  clear: left;
  text-align: center;
}
table#showhtml {
  table-layout: fixed;
  margin: 0px auto;
  height: 560px;
  width: 792px;
  padding-left: 40px;
  border: 1px solid #000;
  background-image: image-url('student_cert.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
}

table#showpdf {
  table-layout: fixed;
  margin: 0px auto;
  height: 560px;
  width: 792px;
  padding-left: 40px;
  border: 1px solid #000;
  background-image: image-url('student_cert.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
}

td#title{
  line-height: normal;
  word-break: keep-all;
  font-size:40px;
  padding-top: 0px auto;
  padding-right:250px;
  height: 115px;
  vertical-align: bottom;
}
td#subtitle{
  font-size:20px;
  vertical-align: bottom; 
}
td#quipperlogo{
  width:190px;
}
td#recipient_name{
  font-size:50px;
  vertical-align: bottom;
}
td#first_paragraph{
  vertical-align: bottom;
  font-size:20px;
  padding-right: 90px;
}
td#second_paragraph{
  font-size:20px;
}
tr#assignatory{
  font-size:20px;
}
h1,h3 {
  font-style: italic;
}