
@font-face{
  font-family: "OpenSans-Bold";
  src: font-url('OpenSans-Bold.ttf');
}

div.alwaysbreak{
  page-break-before: always;
  margin: 0px auto;
}

#showpdf {
  table-layout: fixed;
  height: 846px;
  width: 1191px;
  background-image: asset-data-url("teacher_cert.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Open Sans';
}
#pdf_title{
  line-height: normal;
  word-break: keep-all;
  font-size:60px;
  padding-right:250px;
  height: 185px;
  vertical-align: bottom;
}
#pdf_sub{
  font-size:25px;
  vertical-align: bottom; 
}
.col_1 {
  padding-left: 70px;
}
.col_3{
  width:350px;
}
#pdf_recipient_name{
  font-size:60px;
  vertical-align: bottom;
}
#pdf_first_paragraph{
  vertical-align: bottom;
  font-size:20px;
  padding-right: 100px;
}
#pdf_second_paragraph{
  vertical-align: top;
  font-size:20px;
}
#pdf_assignatory{
  font-size:20px;
}
