table#showpdf {
    table-layout: fixed;
    margin: 0px auto;
    height: 560px;
    width: 792px;
    padding-left: 40px;
    border: 1px solid #000;
    background-image: wicked_pdf_asset_base64('student_cert.jpg'); // not working
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
  }
td#title{
    line-height: normal;
    word-break: keep-all;
    font-size:40px;
    padding-top: 0px auto;
    padding-right:250px;
    height: 115px;
    vertical-align: bottom;
  }
  td#subtitle{
    font-size:20px;
    vertical-align: bottom; 
  }
  td#quipperlogo{
    width:190px;
  }
  td#recipient_name{
    font-size:50px;
    vertical-align: bottom;
  }
  td#first_paragraph{
    vertical-align: bottom;
    font-size:20px;
    padding-right: 90px;
  }
  td#second_paragraph{
    font-size:20px;
  }
  tr#assignatory{
    font-size:20px;
  }
  h1,h3 {
    font-style: italic;
  }