div.alwaysbreak{
  page-break-before: always;
  position: center center;
  border: 1px solid red;
}
td,tr{
  //border: 2px solid black;
}
#showpdf {
  //border: 2px solid black;
  table-layout: fixed;
  margin: 0px auto;
  height: 742px;
  width: 1050px;
  //padding-left: 55px;
  background-image: asset-data-url("teacher_cert.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  font-family: "Trebuchet MS";
}
#pdf_title{
  line-height: normal;
  word-break: keep-all;
  font-size:50px;
  padding-top:50px;
  padding-right:250px;
  height: 115px;
  vertical-align: bottom;
}
#pdf_sub{
  font-size:25px;
  vertical-align: bottom; 
}
.col_1 {
  padding-left: 55px;
}
.col_3{
  width:250px;
}
#pdf_recipient_name{
  font-size:50px;
  vertical-align: bottom;
}
#pdf_first_paragraph{
  vertical-align: bottom;
  font-size:20px;
  padding-right: 100px;
}
#pdf_second_paragraph{
  vertical-align: top;
  font-size:20px;
}
#pdf_assignatory{
  font-size:20px;
  vertical-align: top;
}