@font-face{
  font-family: "OpenSans";
  src: asset-url('fonts/OpenSans-Light.ttf');
  font-weight:100;
}

div.alwaysbreak{
  page-break-before: always;
}


#showpdf {
  table-layout: fixed;
  height: 846px;
  width: 1191px;
  background-image: asset-data-url("student_cert.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: -1;
  font-family: "OpenSans";
  color: #213b5e;
}
#pdf_title{
  line-height: .8;
  word-break: keep-all;
  font-size:50px;
  padding-top: 20px;
  padding-right:250px;
  height: 165px;
  font-weight: bold;
}
#pdf_sub{
  font-size:25px;
  vertical-align: bottom; 
  font-weight: lighter;
}
#pdf_recipient_name{
  font-size:70px;
  width: 100%;
  height: 150px;
  font-weight: bold;
  font-style: italic;
}
#pdf_first_paragraph{
  height:120px;
  vertical-align: bottom;
  font-size:22px;
  padding-right: 120px;
}
#pdf_second_paragraph{
  height:100px;
  vertical-align: top;
  font-size:20px;
  font-weight:bold;
}
#pdf_assignatory{
  font-size:20px;
  font-weight:bold;
  line-height:.5;
}
.col_1 {
  padding-left: 60px;
}
.col_2{
}
.col_3{
  width:350px;
  margin: auto;
  text-align: center;

  img {
    margin: 0;
    padding: 0;
    position: relative;
    top: 150px;
    left: 20px;
  }
}